<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = 'stylesheet' type = 'text/css' href = '/css/contact.css'>
</head>
<body>
    <div class="Navbar">
        <div class="Navbar__Link Navbar__Link-brand">
           Website title
         </div>
         <div class="Navbar__Link Navbar__Link-toggle">
           <i class="fas fa-bars"></i>
         </div>
       <nav class="Navbar__Items">
         <div class="Navbar__Link">
           Longer Link
         </div>
         <div class="Navbar__Link">
           Longer Link
         </div>
         <div class="Navbar__Link">
           Link
         </div>
       </nav>
       <nav class="Navbar__Items Navbar__Items--right">
         <div class="Navbar__Link">
           Link
         </div>
         <div class="Navbar__Link">
           Link
         </div>
        </nav>
      </div>
<script>
function classToggle() {
  const navs = document.querySelectorAll('.Navbar__Items')
  
  navs.forEach(nav => nav.classList.toggle('Navbar__ToggleShow'));
}
document.querySelector('.Navbar__Link-toggle')
  .addEventListener('click', classToggle);

</script>

</body>
</html>