<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timmy's crowe</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel = 'stylesheet' type = 'text/css' href = '/css/index.css'>
</head>
<body>
   
        
       




  
 
        
    <div>
        
        
        <header class = 'site-nav' id= 'site-nav'>
            <div class ='Navbar'>
           
               
                 <div class="Navbar__Link Navbar__Link-brand">
                        <span class = 'company-logo'>
                            <i class="fab fa-artstation"></i></span>
                             <span class='company-logo-text'>Crowe

                          </span>
                     </div>
                     <div class="Navbar__Link Navbar__Link-toggle">
                       <i class="fas fa-bars"></i>
                     </div>
                   <nav class="Navbar__Items">
                     <div class="Navbar__Link">
                       <a href = '#'>Log In</a>
                     </div>
                     <div class="Navbar__Link">
                      <a href = '#'>Contact Us</a>
                     </div>
                     <div class="Navbar__Link">
                        <a href = '#'>Events</a>
                     </div>
                     <div class="Navbar__Link">
                       <a href = '#'> News</a>
                      </div>
                      <div class="Navbar__Link">
                          <i class="fas fa-globe"></i>
                        </div>
                   </nav>
                   
        </div>
        
            <nav class = ' container sub-nav'>
                
                <ul>
                  
                   
                    
                    <li class ='sub-nav-glyph'>
                            <i class = "fas fa-search"></i></li>
                    <li class = 'careers'><a href ='#'>Careers <span class ='dd-glyph'>
                      <i class = "fas fa-caret-down"></i></span></a>
                   </li>
                    <li class = 'about-us'><a href ='#'>About us</a>
                        <span class ='dd-glyph'>
                                <i class = "fas fa-caret-down"></i></span></li>
                    <li class = 'insights'><a href ='#'>Insights</a>
                        <span class ='dd-glyph'>
                                <i class = "fas fa-caret-down"></i></span></li>
                    <li class = 'industries'><a href ='#'>Industries</a>
                        <span class ='dd-glyph'>
                                <i class = "fas fa-caret-down"></i></span></li>
                    <li class ='services'><a href ='#'>Services</a>
                        <span class ='dd-glyph'>
                                <i class = "fas fa-caret-down"></i></span></li>
                    
                                            
                    
                </ul>
                

            </nav>
        </header>

<div class = 'content'>
<div class = 'main-text-box'>
<div class = 'sub-text-box'>

<h1><b><span class = 'yo'>Fo</span>cused on your business</b></h1>
<p>
  We listen to our clients to gain an in-depth understanding of their business. Crowe works with you to prepare
  for the future.
</p>
<button class = 'business-btn'>Learn more</button>
</div>
</div>

<div class = 'container'>
  <div class = 'our-services'>
  <h1>Our <span class = 'serv'>serv</span>ices</h1>
  <p class= 'our-services-1'>Crowe is a public accounting, consulting, and technology firm that combines deep 
    industry <br>
    and specialized expertise with innovation.</p>
    <p  class ='our-services-2'><a href = '#'>View our services<span class='next-glyph'><i class="fas fa-chevron-right"></i></span></a> </p>
</div>

<div class='fortune-main'>
  <div class = 'fortune-sub'>
  <p>
      <span class = 'fort'>Fort</span>une again names Crowe to its 100 best companies to work for list 
  </p>

  <button>Learn more</button>



  </div>


</div>


</div>


<div class = 'second-half'>
<div class='container'>
<div class = 'F-insights'>
  <p><span class = 'feat'>Feat</span>ured insights <span class = 'vai'><a href = '#'>View all insights<span class='next-glyph'><i class="fas fa-chevron-right"></i></span></a></span>
   </p>
  
</div>

<div class="head-of-pictures row ">
  <div class="col-lg-6 col-md-6 col-sm-12">
    
      <img src="/images/img-3.jpg" class="img-fluid" alt="">
    
  </div>
  <div class="article-div col-lg-6 col-md-6 col-sm-12">
    <h6>ARTICLE</h6>
    <h1>COSO Internal Control - Integrated Framework</h1>
    <p>This guide's purpose is to provide implmentation guidiance to help strengthen and
       enhance overall governance and internal control structures</p>


  </div>

</div>


<div class="pictures row ">
    <div class="pic col-lg-3 col-md-6 col-sm-12">
      
        <img src="/images/img-9.jpg" class="img-fluid" alt="">
        <h6>FEATURED</h6>
        <p>Managing through global supply change tarriffs</p>
    </div>
    <div class="pic col-lg-3 col-md-6 col-sm-12">
      
        <img src="/images/img-4.jpg" class="img-fluid" alt="">
        <h6>Q&A</h6>
        <p>Lease Accounting Change Faces Real-World Challenges</p>
    </div>
    <div class="pic col-lg-3 col-md-6 col-sm-12">
      
        <img src="/images/img-5.jpg" class="img-fluid" alt="">
        <h6>ARTICLE</h6>
        <p>What the tax reform means for ESOPs</p>
    </div>
    <div class="pic col-lg-3 col-md-6 col-sm-12">
      
        <img src="/images/img-6.jpg" class="img-fluid" alt="">
        <h6>VIDEO</h6>
        <p>Findings from our 2019 Bank M&A Survey</p>
    </div>
  </div>
</div>

</div>

<div class = 'container third-half'>

  
    <div class = 'test'>
          <div class = 'test-text-box'>
          <h4>The new lease accounting standards</h4>
          <p>"Leases" deadlines are quickly approaching, and any entity that enters into a lease will need to comply.</p>
          <button class = 'lease-btn'>Learn more</button>
          </div>
          
        </div>


  
    <div class = 'row events'>
          <div class="events-sub-1 col-lg-6 col-md-6 col-sm-12">
            <h5><span class = 'up'>Up</span>coming events</h5> 
        <hr>
        <p><span class='cal'><i class="far fa-calendar-times"></i><a href = '#'></span>
        <span class = 'text'>Unclaimed Property Proffessionals Organizational </br><span class = 'break'>Annual Conference</span></span></a>
        <span class='date'>25/03/2019</span>
        </p>
        <hr>
        <p><span class='cal'><i class="far fa-calendar-times"></i><a href = '#'></span>
        <span class = 'text'>dynamic Communities User Group Summit Europe</span></a>
        <span class='date'>25/03/2019</span>
        </p>
        <hr>
        <p><span class='cal'><i class="far fa-calendar-times"></i><a href = '#'></span>
        <span class = 'text'>US Tax Reform and the Evolution of New Regulations, </br><span class = 'break'>Challenges and 
            Opportunities for Globally Actve life </span><span class = 'break'> </br>Sciences Companies</span></span></a>
            <span class='date'>25/03/2019</span>
        </p>
    
        </div>


        <div class="events-sub-2 col-lg-6 col-md-6 col-sm-12">
            <h5><a class = 'vae' href = '#'>View all events<span class='next-glyph'><i class="fas fa-chevron-right"></i></span></a></h5>
            <div class ='hr-begin'> 
            <hr>
            <p><span class='cal'><i class="far fa-calendar-times"></i><a href = '#'></span>
            <span class = 'text'>Conflict Minerals and Supply chain Compliance </br><span class = 'break'>2019 Update</span></span></a>
            <span class='date'>25/03/2019</span>
            </p>
            <hr>
            <p><span class='cal'><i class="far fa-calendar-times"></i><a href = '#'></span>
            <span class = 'text'>SuiteWorld 2019</span></a>
            <span class='date'>25/03/2019</span>
            </p>
            <hr>
            <p><span class='cal'><i class="far fa-calendar-times"></i><a href = '#'></span>
            <span class= 'text'>Healthcare Blockchain Master class </br><span class = 'break'>Series: Casestudy Reviews</span></span></a>
                <span class='date'>25/03/2019</span>
            </p>
          </div>
            </div>



      </div>
  </div>
        

      <div class ='footer'>
        <div class = 'container'>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h5 class = 'footer-logo'>
                        <i class="fab fa-artstation"></i>
                        <span class = 'logo-text'>Crowe</span>
                    </h5>
                  <ul class = 'footer-nav'>
                      <li class = 'dis'><a href ='#'>Disclosure</a></li>
                      <li class = 'pp'><a href ='#'>Privacy Policy</a></li>
                      <li class = 'ps'><a href ='#'>Privacy Shield</a></li>
                      <li class = 'tou'><a href ='#'>Terms of use</a></li>
                  </ul>
                        




        </div>

        <div class = 'col-lg-4 col-md-4 col-sm-12'>
          <p class = 'sd'>Smart decisions. Lasting value.</p>
          <p class = footer-glyph><i class="fab fa-facebook"></i><i class="fg fab fa-linkedin"></i>
            <i class="fg fab fa-twitter-square"></i><i class="fg fab fa-youtube"></i></p>


        </div>

        </div>

    <p class = 'last-text'>© 2019 Crowe LLP (authored by Timmy) 
        Crowe LLP is a member of Crowe Global, a Swiss verein. Each member of Crowe Global is a 
        separate and independent legal entity. For more information about Crowe LLP, 
        its subsidiaries, and Crowe Global, please read our Disclosure.</p>    

</div>


   




    </div>
    <script>
        function classToggle() {
          const navs = document.querySelectorAll('.Navbar__Items')
          
          navs.forEach(nav => nav.classList.toggle('Navbar__ToggleShow'));
        }
        document.querySelector('.Navbar__Link-toggle')
          .addEventListener('click', classToggle);
        
        </script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="
    sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>