body, .header {
  width : 100%;
  font-family:'Philosopher, sans-serif';
  margin:0px;
  top:0;
  padding-top:0;
  position:relative;
  margin:0;
  width:100%;
 
}

.site-nav{

top:0;
  padding-top:0;
  position:relative;
  margin:0;
}

.Navbar {
  background-color:rgba(176, 192, 212, 0.281);
  
  display: flex;
  padding: 0px 12px 10px 12px;
  font-family: sans-serif;
  color: white;
}

.Navbar__Link {
  font-family:'Philosopher, sans-serif';
  padding-right: 1.5rem;
  color:rgba(55, 108, 168, 0.616);
}

.Navbar__Link a{
  color:rgba(55, 108, 168, 0.616);
}

.Navbar__Items {
  display: flex;
  font-size:15px;
  padding-top:1rem;
  margin-left:auto;
  padding-right:4rem;
}


.Navbar__Link-toggle {
  display: none;
}


.log-in{
border-right: 1.5px solid;
padding-right:1.2rem;
position:relative;
top:0.4rem;
border-color:rgba(55, 108, 168, 0.616);
margin:0.5rem;
height:0.9rem;

}
.news  {
padding-right:18px;
padding-top:0.8rem;
}

.contact-us, .event{
padding-right:17px;
padding-top:0.8rem;
padding-left:18px;
}

.company-logo-text{
  position:relative;
  top:0.5rem;
color:rgba(55, 108, 168, 0.616);
font-size:1.4rem;
}
          
.company-logo{
position:relative;
top:0.5rem;
  padding-left:5rem;
color:rgba(252, 227, 8, 0.623);
font-size:1.8rem !important;
font-size:1.2rem;

}

.sub-nav ul{
height:4rem;
padding:0px;
margin:0px;
}

.sub-nav ul li{
  float: right;
  display: flex;
  font-family:'Philosopher, sans-serif';
  font-weight: 650;
  font-size:18px;
  padding-bottom:1.1rem;
}

.sub-nav ul li:hover{
  border-bottom:2.8px solid rgba(55, 108, 168, 0.616);

}

.services, .industries, .insights, .about-us, .careers{
  padding-right:2.1rem;
  margin-top:1.1rem;
}

.sub-nav ul li a {
  text-decoration: none;
  
  color:rgba(55, 108, 168, 0.616);
}


.sub-nav-glyph{
  padding-left:1rem;
padding-top:1.3rem;
 
  font-size:1rem !important;
  text-align:center;
  height:100%;
  font-weight:600;
  height:4rem;
  width:3rem;
  color:rgba(55, 108, 168, 0.616);
  background-color:rgba(176, 192, 212, 0.281);
} 

.dd-glyph{

  padding-left:0.3rem;
  font-size:1.1rem;
  color:rgba(55, 108, 168, 0.616);
}

.dd-glyph:hover{
text-decoration-line:underline;
}

.main-text-box{
background-image:url("/images/img-8.jpg");
background-size:cover;
height:31rem;
width:100%;

}
.sub-text-box{
text-align:left;
padding:1.7rem;
background-color:white;
height:23.2rem;
width: 32rem;
position:relative;
top:2.8rem;
left:5.2rem;
border:1px  black;
border-bottom-left-radius: 15%;

}

.yo{
border-top:0.3rem solid rgba(252, 227, 8, 0.623);
}

.sub-text-box h1{
font-size:4rem;
line-height:3.7rem;
letter-spacing: 1px;

}

.sub-text-box p{
font-size:1.2rem;
line-height:1.7rem;
letter-spacing:0.5px;
position:relative;
top:10px;
}

.business-btn{
background-color:rgba(252, 227, 8, 0.623);
position:relative;
top:2rem;
padding-top:0.4rem;
padding-bottom:0.4rem;
padding-left:3rem;
padding-right:3rem;
outline:none;
font-size:18px;
color:rgb(2, 24, 49);
text-decoration: none;
font-weight:450;
border:none;
outline:none;
}


.business-btn:hover{
  padding-bottom:0.6rem;
}

.our-services{

position:relative;
text-align:center;
top:4rem;

}

.our-services h1{
text-align:center;
font-size:2.5rem;
font-weight:550;
padding-bottom:0.8rem;
}

.our-services-1{
text-align:center;
font-size:1.2rem;

line-height: 1.7rem;
}

.our-services-2{
text-align:center;
font-size:1.2rem;
line-height: 1.5rem;
color:rgb(55, 108, 168);
}

.our-services-2 a:hover{
text-decoration:none;

}
.serv{
border-top:0.5rem solid rgba(252, 227, 8, 0.623);
}

.next-glyph{
font-size:0.7rem;
padding-left:5px;

}

.fortune-main{
position:relative;
background-image:url("/images/img-2.jpg");
background-size:cover;
top:8rem;
height:30rem;
width:100%;
background-color:green;

}

.fortune-sub{
text-align:left;
padding-left:1.5rem;
padding-right:1.5rem;
padding-top:0.5rem;
background-color:white;
height:60%;
width: 28.5rem;
position:relative;

border:1px black;
border-bottom-left-radius: 10%;
}

.fortune-sub button{
background-color:rgba(252, 227, 8, 0.623);
position:relative;
top:2.2rem;
outline:none;
padding-top:0.5rem;
padding-bottom:0.5rem;
padding-left:3rem;
padding-right:3rem;
font-size:19px;
color:rgb(2, 24, 49);
text-decoration: none;
font-weight:450;
border:none;
}

.fortune-sub button:hover{

padding-bottom:0.7rem;
}

.fortune-sub p{
padding-right:4rem;

font-size: 2.3rem;
line-height:2.6rem;
font-weight:530;
position:relative;
top:10px;
}

.fort{
border-top:0.4rem solid rgba(252, 227, 8, 0.623);
}

.second-half{
  padding-top:14rem;
  background-color:rgba(10, 49, 92, 0.062);
  padding-bottom:5rem;
  
}

.feat{
  border-top:0.5rem solid rgba(252, 227, 8, 0.623);
 
}

.second-half p{
  font-size:2rem;
}

.vai{
  
  font-size:1.2rem !important;
  color:rgb(55, 108, 168);
float:right;

}

.vai a:hover{
  text-decoration:none;
 
}

.article-div{
  width:90%;
}

.article-div h6{
color:rgba(176, 192, 212);
font-size:0.9rem;
}

.article-div h1{
  color:rgb(55, 108, 168);
  font-size:2.7rem;
  font-weight:600;

}

.article-div p{
  position:relative;
  top:1rem;
  font-size:1.1rem;
  width:90%;
}

.pictures div{
  padding-top:2rem;
}

.pic h6{
  margin-top:1rem;
  color:rgba(176, 192, 212);
  font-size:0.8rem;
}

.pic p {
  font-size:1.1rem;
  color:rgb(12, 50, 94);
  line-height:1.2rem;
}

.third-half{
  position:relative;
  top:8rem;
  padding-bottom:10rem;
}

.test{
  position:relative;
  left:12rem;
  height:26rem;
  width:46rem !important;
  background-image:url('/images/img-9.jpg');
  background-size:cover;
}

.test-text-box{
 border-bottom-left-radius:10%;
 float:right;
  height:98%;
  width:50%;
  background-color:slategrey;
  padding-left:1.5rem;
  padding-top:2rem;
  color:white;
}

.test-text-box h4{
font-size:2.5rem;
font-weight:600;
line-height:2.6rem;

}

.test-text-box p{
  text-align:left;
  font-size:1.2rem;
  padding-top:2rem;
  padding-right:5rem;
}

.lease-btn{
  background-color:rgba(252, 227, 8, 0.623);
  position:relative;
  top:1rem;
  padding-top:0.4rem;
  padding-bottom:0.4rem;
  padding-left:3rem;
  padding-right:3rem;
  outline:none;
  font-size:18px;
  color:rgb(2, 24, 49);
  font-weight:700;
  text-decoration: none;
  font-weight:450;
  border:none;
  outline:none;
  }
  
  
  .lease-btn:hover{
    padding-bottom:0.6rem;
  }

  
  .the-art{
    font-size:1.5rem;
    position:relative;
    top:2rem;
    padding-bottom:0.5rem;
  }

  .events{
    position:relative;
    top:5rem;

  }

  .events-sub-1 h5{
    font-size: 1.8rem;
  }

  .up{
    border-top:0.4rem solid rgba(252, 227, 8, 0.623) !important;
  }
  

.cal{
  padding-right:2rem;
}



.events-sub-2 h5{
  float:right;
 position:relative;
 top:0.7rem;
 font-size:1rem;
  color:rgb(58, 117, 184);
}

.hr-begin{
  position:relative;
  top:2.1rem;
}

.text{

 font-size:1.1rem;
 color:rgb(58, 117, 184);
}

.date{
  float:right;
}

.vae:hover{
  text-decoration:none;
  color:blue;
}

.break{
  padding-left:3rem;
}

.footer{
  position:relative;
  top:15rem;
  background-color:rgb(80, 87, 95);
  color:white;
  text-align:left;
  padding-top:4rem;
  padding-bottom:7rem;
  font-family:'Philosopher, sans-serif';
  font-size:17px;
}

.footer-logo{
  font-size:2rem;
  padding-bottom:1rem;
}

.footer-nav{
  padding:0px; 
  margin:0px;
}

.dis, .pp, .ps{
  float: left;
  display: block;
  border-right: 1.5px solid;
  padding-right:1.7rem;
  position:relative;
  border-color:white;
}

.pp, .ps, .tou{
  padding-left:1.7rem;
}

.tou{
  float: left;
  display: block;
  padding-right:1.7rem;  
}

.footer-nav li a {
  text-decoration: none;
 font-weight: 650;
  color:white;
}

.footer-nav li a:hover{
  text-decoration-line: underline;
}

.footer-glyph{
  padding-top:1.2rem;
  font-size:1.3rem;
}

.fg{
padding-left:1.5rem;

}

.last-text{
  position:relative;
  top:4rem;
  font-size:16px;
  
}



  

  @media only screen and (max-width: 768px) {
    body{
      font-size:14px;
    }

    .Navbar__Items,
    .Navbar {
      flex-direction: column;
      
    }

    .nav-link{
      padding:3rem;
      column-gap:2rem;
    }

    .nav-link a{
      padding:3rem;
    }
  .Navbar__Items {
      display:none;
      margin-left:0;
    }
  
  .Navbar__ToggleShow {
      display: flex;
    }
  .Navbar__Link-toggle {
    padding-top:1rem;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 
 

  .sub nav, .sub-nav ul{
    display:none;
  }


  .footer{
    text-align:center;
  }

  .main-text-box{
   
    height:25rem;
    width:100%;
    background-size:cover;
    }
    .sub-text-box{
    text-align:left;
    padding:1rem;
    background-color:white;
    height:18.2rem;
    width: 16rem;
    position:relative;
    top:1.4rem;
    left:3.2rem;
    }
    
    .yo{
    border-top:0.2rem solid rgba(252, 227, 8, 0.623);
    }
    
    .sub-text-box h1{
    font-size:2rem;
    line-height:1.7rem;
    
    }
    
    .sub-text-box p{
    font-size:0.8rem;
   
    position:relative;
    top:5px;
    }
    
    .business-btn{
    background-color:rgba(252, 227, 8, 0.623);
    position:relative;
    top:1rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    }

.our-services{
  text-align:center;
  position:relative;
  left:1rem;
}

.our-services-1{
  text-align:center;
  font-size:0.9rem
}

.test{
  position:relative;
  left:1rem;
  height:15rem;
  width:24rem !important;
  
}

.test-text-box{
  width:100%;
  height:50%;
}
.test-text-box h4{
  font-size:1.3rem;
  line-height:1.2rem;
  }
  
  .test-text-box p{
    font-size:1rem;
    line-height:1.2rem;
    padding-right:3rem;
    padding-top:0.2rem;
  }

    
    .article-div h1{
      color:rgb(55, 108, 168);
      font-size:1.5rem;
    
    }
    
    .article-div p{
      position:relative;
      top:1rem;
      font-size:1.1rem;
    }
}


